



<div class="container" >

    <div class="row">
        <div class="col-md-12 text-center">
                    <br>
            <h2 class="text-capitalize font-weight-bold">SCAN QR</h2>

        </div>

      <div class="col-md-4">
      </div>

      <div class="col-md-4">

            <div class="bg-light px-4 py-5 my-lg-5 my-md-2 my-sm-2">

               <%= @svg.html_safe %> 

            </div>

      </div>

      <div class="col-md-4">
      </div>


    </div>

</div>