<div class="container">
  <div class="row">
  
    <div class="col-lg-3">
    </div>

    <div class="col-lg-6">
    <br>
      <center><h4> Add New Member</h4></center>
      <%= render 'form', member: @member %>
    </div>
    <div class="col-lg-3">

    </div>
  </div>
</div>
<br />
