<div class = "container-fluid">
    <div class="row">
    <div class="col">
    </div>
        <div class="col">
            <br>
                <iframe src="https://anchor.fm/bishop-moa/embed/episodes/26th-August-2021-Thursday-Service-e16g1sr" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
            <br>
            <br>
                <iframe src="https://anchor.fm/bishop-moa/embed/episodes/22nd-August-2021-Sunday-Service-e169f6e" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
            <br>
            <br>
                <iframe src="https://anchor.fm/bishop-moa/embed/episodes/10th-Aug-2021-Sunday-Service-e161odg" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
            <br>
        </div>
        <div class="col">
        </div>
    </div>
</div>

