
<div class="container" >
    <br><br>
    <div class="row">
        <div class="col-md-12 text-center">
                    <br>
          

        </div>

      <div class="col-md-4">
      </div>

      <div class="col-md-4">
        <center><h2 class="text-capitalize font-weight-bold">SCAN QR TO ADD NEW MEMBER</h2></center>

            <div class="bg-light px-4 py-5 my-lg-5 my-md-2 my-sm-2">

               <center><%= @svg.html_safe %></center>

            </div>

      </div>

      <div class="col-md-4">
      </div>


    </div>

</div>