<div class="container">
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
      <h1> New Member</h1>
    </div>
    <div class="col-sm">

    </div>
  </div>
</div>
<br />
<%= render 'form', member: @member,  :namerrr => "Neww Memberrr" %>

<%= link_to 'Back', members_path %>
